{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
    <h2>Transfer Funds</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="from_account" class="form-label">From Account</label>
            <select name="from_account" id="from_account" class="form-select" required>
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="to_account" class="form-label">To Account</label>
            <select name="to_account" id="to_account" class="form-select" required>
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" name="amount" id="amount" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-dark">Transfer</button>
    </form>
</div>
{% endblock %}
